PORT=5000
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster>.mongodb.net/campuspulse?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
